html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
}

header {
  background-color: #095868;
  text-align: center;
}
header img {
  margin: auto;
  max-width: 800px;
}

header nav {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%
}

header nav li {
  padding: 20px;
}

header nav a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

header nav li:hover{
  background-color: black;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.lead_text {
  font-size: 21px;
  line-height: 29.4px;
}
section {
  max-width: 800px;
  margin: auto;
}

footer {
  background-color: #414141;
  color: #777;
  height: 60px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
